  <% include ../partials/header %>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    <div class="row">
    <% products.forEach(function(products) { %>
                
                <div class="item">
                    <%= products.id %><br>
                    <%= products.brand %><br>
                    <%= products.name %><br>
                    
                   
                    </div>
              <a href="/deleteproduct/<%= products.id %>">Delete me</a>
              <br>
               <a href="/update/<%= products.id %>">Update</a>
         <% }); %>
  </div>
    
    













<% include ../partials/footer %>

