  <% include ../partials/header %>



<br><br><br><br><br>



     <% products.forEach(function(products) { %>
    <div class="row" id="created">
        <br><br><br><br>
   
    
                <div>
                    
                <div class="item" id="individual">
                    
                   ID:<%= products.id %><br><br>
                   Brand:  <%= products.brand %><br><br>
                   Name: <%= products.name %><br><br>
                   Price: <%= products.price %><br><br>
                    

                 
                   
                    </div>
                 </div>
                    <br><br><br>
                    
                    
                    
                    
                    
                   
              <a href="/deleteproduct/<%= products.id %>" id="deleteButton">Delete Product  <i class='fas fa-trash-alt'></i></a>
              <br>
               <a href="/update/<%= products.id %>" id="updateButton">Update Product  <i class='fas fa-sync-alt'></i></a>
         
  
    
    


</div>
<br>
<% }); %>


<% include ../partials/footer %>

