  <% include ../partials/header %>



<br><br><br><br><br><br><br><br><br><br><br>



    
    <div class="row" id="created">
    <% products.forEach(function(products) { %>
                
                <div class="item">

                    ID:<%= products.id %><br><br>
                  Brand:  <%= products.brand %><br><br>
                   Name: <%= products.name %><br><br>
                    <%= products.image %><br><br>
                   Price: <%= products.price %><br><br>
                    

                 
                   
                    </div>
                 
                    <br><br><br>
                    
                    
                    
                    
                    
                   
              <a href="/deleteproduct/<%= products.id %>">Delete me</a>
              <br>
               <a href="/update/<%= products.id %>">Update</a>
         <% }); %>
  
    
    


</div>










<% include ../partials/footer %>

