  <% include ../partials/header %>

<div id="productsPage">

<br><br><br><br><br><br><br><br><br><br><br>



    
    <div class="row" id="created">
    <% products.forEach(function(products) { %>
                
                <div class="item" id="individual">

                    ID:<%= products.id %><br><br>
                  Brand:  <%= products.brand %><br><br>
                   Name: <%= products.name %><br><br>
                   Price: <%= products.price %><br><br>
                    

                 
                   
                    </div>
                 
                    <br><br><br>
                    
                    
                    
                    
                    
                   
              <a href="/deleteproduct/<%= products.id %>" id="deleteButton">Delete Product</a>
              <br>
               <a href="/update/<%= products.id %>" id="updateButton">Update Product</a>
         <% }); %>
  
    
    


</div>


</div







<% include ../partials/footer %>

